= content_for :content do
  div class="package"
    h1 class="header"
      = @package.name
    div class="row"
      div class="col-sm-8"
        h3 = @package.description
        div class="midle-box"
          <!-- inja bayad version ha b linkamun gharar begire -->
          div class="col-sm-6 render-versions"
            h3
              |versions :
            - @package.versions.each do |version|
              p
                = version.version
          div class="col-sm-6 dependencies"
            h3
              |Dependencies :
            - @package.versions.last.dependencies.each do |dependency|
              p
                = dependency.name
              p
                = dependency.version
        div class="downbox"
          div class="col-sm-6"
            h3
              |Authors :
            - @package.authors.each do |author|
              h4
                = author.name
          div class="col-sm-6"
            h3
              |owners :
            - @package.owners.each do |owner|
              p
                = owner
      div class="col-sm-4 side"
        div class="counter"
          p
            b = @package.downloads
          p Total Downloads
        div class="version"
          p
            b = @package.versions.last.version
          p Current Version
        ul class="links"
          li
            a target="_blank" href= @package.home_page
              | HomePage
          li
            a target="_blank" href= @package.documentation_url
              | Document
          li
            a target="_blank" href= @package.download_url
              | Download
          li
            a target="_blank" href= @package.wiki_url
              | Wiki
          li
            a target="_blank" href= @package.bug_tracker_url
              | ReportBugs
