$primary-color: #00BC8C;
$primary-highlight: #09D8A3;
.navbar-custom {
  margin: 2% 0 1% 0;
  font-size: 1.6em;
}
.navbar-custom a {
  padding: 7% 5% 0 5%;
  color: #fff;
  border-top: 10px solid $primary-highlight;
}
.navbar-custom a:link,
.navbar-custom a:hover {
  padding: 7% 5% 0 5%;
  text-decoration: none !important;
  border-top: 10px solid #373737;
}
.btn-custom {
  color: #fff;
  text-shadow: none;
  background-color: #373737;
  border: 1px solid #373737;
  border-radius: 35px;
}
.btn-custom:hover,
.btn-custom:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: 1px solid #fff;
}
.btn-big {
  color: #fff;
  text-shadow: none;
  background-color: #222222;
  font-size: 1.8em;
}
.btn-big:hover,
.btn-big:focus {
  color: gray;
  text-shadow: none;
  background-color: #373737;
  font-size: 1.8em;
}
.contain {
  margin-bottom: 10%;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 15%;
  background-color: #373737;
  color: black;
  padding: 1% 0 1% 0;
}
.footer i{
  color: #fff;
}
.footer i:hover{
  color: $primary-highlight;
}

.footer .license {
  position: absolute;
  bottom: 0;
  color: #fff;
  font-size: 1.2em;
  float: right;
  margin: 0 30% 0 30%;
}
