// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-color: #00BC8C;
$primary-highlight: #09D8A3;
.head {
  background: $primary-color;
  height: 40%;
  width: 100%;
  padding: 5% 25% 1% 25%;
}
.head h1 {
  font-size: 3.0em;
  padding: 2% 10% 5% 10%;

}
.head .sub {
  padding-top: 10%;
  text-align: center;
}
.head .sub button {
  width: 100px;
}

.search-box {

}

.search-box input {
  font-size: 1.8em;
  border: 1px solid #fff;
  border-radius: 25px;
  height: 10%;
}
.search-box button {
  height: 61px;
}
