// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-color: #58488A;
$primary-highlight: #796ca1;
.head {
  background: $primary-color;
  height: 40%;
  width: 100%;
  padding: 5% 25% 1% 25%;
  text-align: center;
  margin-bottom: 2%;
}
.head h1 {
  font-size: 3.0em;
}
.head .sub {
  padding-top: 5%;
}
.head .sub button {
  width: 100px;
}

.search-box {
  padding-top: 10%;
}

.search-box input {
  font-size: 1.8em;
  border: 1px solid #fff;
  border-radius: 25px;
  height: 10%;
}
.search-box button {
  height: 61px;
}
.description {
  font-size: 1.8em;
  padding-bottom: 5%;
}
.counter {
  background: orange;
  text-align: center;
  font-size: 1.4em;
  margin-top: 5%;
}
.package {
  padding: 5% 0 5% 0;
}
.package .header {
  width: 100%;
  border-bottom: 1px solid;
  margin-bottom: 2%;
}
.package .side {
  border-left: 1px solid;
  padding-left: 5%;
}
.package .version {
  background: $primary-color;
  text-align: center;
  font-size: 1.4em;
  margin-top: 5%;
}
.package .links {
  padding-top: 50%;
  font-size: 1.6em;
  list-style: none;
}

.package .links a {
  padding-left: 5%;
}
.package .links a:hover {
  text-decoration: none !important;
  border-left: 10px solid;
  color: #fff;
}
.package .midle-box{
  margin-top: 20%;
}
.package .midle-box p {
  font-size: 1.2em;
}
.package .midle-box h3 {
  color: $primary-color;
}
.package .render-versions {
  border-right: 1px solid;
}
.package .dependencies {
  padding-left: 5%;
}
.package .downbox {
  padding: 30% 0 20% 0;
}
.package .downbox h3{
  color: #FFA500;
}
